<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'category_list' %}">Expense Categorty</a></li>
                <li><a href="{% url 'create_category' %}">Create Expense Category/a></li>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>
